@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
/*


/* mobile first - Standard styling */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family:'Roboto', sans-serif;
    line-height: 1.5;
    
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (min-width: 768px) {.container {max-width: 720px;} }
@media (min-width: 1200px) {.container {max-width: 1120px;} }
@media (min-width: 1920px) {.container {max-width: 1400px;} }

a {
    color: #2BAAEC;
    text-decoration: none;
}

a:hover {
    color: #25E6C8;
}

.btn {
    display: inline-flex;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    padding: 1.25rem, 1.75rem;
    border-radius: 0.75rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
}



/* topmenu */
#topmenu {
    display: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
@media(min-width: 768px) { #topmenu {display: block;}}

#topmenu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#topmenu .container .hours {
    flex: 2;
}

#topmenu .container .hours i {
    margin-right: 0.5rem;
    color: #2BAAEC;
    font-size: 1.2em;
}

#topmenu .container .socialmedia {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    }

#topmenu .container .socialmedia li {
        margin-left: 1.3rem;
    }



/* Main Menu */
#mainmenu {
        font-family: 'Roboto Slab', serif;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
@media (min-width: 768px) { #mainmenu { padding-top: 2rem; padding-bottom: 2rem; } }

#mainmenu .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

#mainmenu .container .logo {
        height: 50px;
    }
@media (min-width: 768px) { #mainmenu .container .logo { height: 60px; } }

#mainmenu .container .menu {
        flex: 2;
        display: flex;
        justify-content: flex-end;
    }

#mainmenu .container .menu ul {
        display: none;
        list-style: none;
        margin: 0 ;
    }
@media (min-width: 992px) { #mainmenu .container .menu ul { display: flex;}}


#mainmenu .container .menu ul li {
        margin-left: 1.3rem;
    }

#mainmenu .container .menu ul li a {
        color: #363636;
    }

#mainmenu .container .menu ul li a:hover {
        color: #25E6C8;
    }

#mainmenu .container .menu button {
        font-size: 2.0rem;
        padding: 0;
    }
@media (min-width: 992px) { #mainmenu .container .menu button { display: none;}}
    


/* Showcase */
#showcase {
        background-color: #DEDEDE;
       
    }

#showcase .container {
        font-family: 'Roboto Slab', serif;
        padding-top: 1.375rem;
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 9.375rem; 
        align-items: center;
        }
@media (min-width: 992px){
            #showcase .container{ 
            grid-template-columns: 1fr 1fr;
            margin-left: 13.125rem ;}}

.figure1 {
            display: none;
            margin-left: -3rem;
        }
@media (min-width:992px){.figure1{display: block;}}

.about{ 
            text-align: center;}
@media (min-width:992px){.about{text-align: left;}}

.btn {
            background-color: #25E6C8;
            color: #FFFFFF;
            font-family: 'Roboto', sans-serif;
            font-size: 18;
            font-weight: bold;
            padding: 14px 24px;
        }


/* About us */
#aboutus .container{
        height: 500px;
        display: flex;
        justify-content: space-between;
    }
.figure2 {
        display: none;
        margin-left: -3rem;
    }
@media (min-width:992px){.figure2{display: block;}}
    


/* services */
.service-box {
        background: #ffffff;
    }
#services {
        
        background: #f7f7f7;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

#services .container {
    display: none;      
    }
@media (min-width: 992px){
            #services .container{ 
                display: grid;
                grid-template-columns: 1fr;
                justify-content: center;
                text-align: center; 
                gap: 1rem;
            
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:  "ti ti ti"
                                  "b1 b2 b3"
                                  "b4 b5 b6";    
    }
}

#service-title {
    grid-area: ti;
}
#service-box-1 {
    grid-area: b1;
}
#service-box-2 {
    grid-area: b2;
}
#service-box-3 {
    grid-area: b3;
}
#service-box-4 {
    grid-area: b4;
}
#service-box-5 {
    grid-area: b5;
}
#service-box-6 {
    grid-area: b6;
}



/* Appointment */
#appointment{
    background-color: #2BAAEC;
    opacity: 0.8;
}

#appointment .container {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    color: #F7F7F7;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-size: 12px; 
}
@media (min-width: 992px){#appointment .container{
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 12px;
}}
#appointment .container .btn{
    display: none;
    background-color:#FFFFFF;
    color: #2BAAEC;
    font-family: 'Roboto', sans-serif;
    justify-content: flex-end;
}
@media (min-width: 992px){#appointment .container .btn{
    display: block;
}}



/* Footer */
#footer{
    background-color: #2BAAEC ;
}
#footer .container{
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    color: #F3FBFF;
    text-align: center;
    width: auto;
    opacity: 0.6;
    padding-top: 1rem;
    padding-bottom: 1rem;
}